button {
    background-color:#0074d9}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header, .footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.main {
    padding: 10px;
}

#todo-form {
    display: flex;
    gap: 10px;
}

#todo-input {
    flex-grow: 1;
    padding: 5px;
}

#todo-list {
    margin-top: 10px;
}
